
* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
  color: rgb(63,85,120);
}

img {
  width: 45%;
}

.outerContainer {
  display: flex;
}

 .container {
  margin:auto;
  text-align: center;
  flex: auto;
  width: 50%;
}

.header {
  font-size: 4em;
  font-weight: 400;
}

table {
  margin:auto;
  text-align: center;
  flex: auto;
}

.deleteBtn {
  margin-left: 2em;
  box-shadow: none;
  border-radius: 6px;
  background: white;
}

.submitBtn {
  width: 25%;
  margin-top: 1em;
  box-shadow: none;
  border-radius: 6px;
  background: white;
}

.newInput {
  width: 50%;
  height: 2em;
  text-align: center;
  box-shadow: none;
  border-radius: 6px;
  background: white;
}

.submit {
  margin-bottom: 2em;
}
